<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'week');
    data.addColumn('number', 'amount');
    data.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

    data.addRows(<%= BudgetPresenter.new.to_json %>.map(function(row) {return [new Date(row[0]), row[1], row[2]];}));

    var options = {
      legend: 'none',
      title: 'Balance over time',
      explorer: {axis: 'horizontal', keepInBounds: true},
      tooltip: {isHtml: true},
      hAxis: {title: 'Date'},
      vAxis: {title: 'Balance', format: '$### ### ###'}
   };

    var chart = new google.visualization.LineChart(document.querySelector('.weekly-budget-graph'));

    chart.draw(data, options);
 }
</script>

<div class="weekly-budget-graph"></div>
