.typeahead.dropdown-menu  {
  width: 91% !important;
}

.navbar-link--main {
  font-size: 2.2em;
}

.progress-tall {
  height: 2em;
}

.progress .progress-bar-tall {
  font-size: 0.8em;
  line-height: 2.5em;
}
