.typeahead.dropdown-menu  {
  width: 91% !important;
}

.navbar-link--main {
  font-size: 2.2em;
}

.progress-tall {
  height: 2em;
}

.progress .progress-bar-tall {
  font-size: 0.8em;
  line-height: 2.5em;
}

.table-row-link {
  display: block;
  text-decoration: none !important;
  color: inherit;
}

div.google-visualization-tooltip {
  padding: 1em;
  font-size: 1em;
}

.weekly-budget-graph {
  height: 80vh;
}

.transaction-tooltip {
  color: #006699;
}

.large-transaction-tooltip {
  color: #006699;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.large-transaction-tooltip-inner {
  color: #333;
  padding-left: 0.5em;
  font-weight: bold;
}

.tooltip-amount {
  color: #333;
  font-weight: normal;
}

.google-visualization-tooltip {
  white-space: nowrap;
}
