.typeahead.dropdown-menu  {
  width: 91% !important;
}

.navbar-link--main {
  font-size: 2.2em;
}

.progress-tall {
  height: 2em;
}

.progress .progress-bar-tall {
  font-size: 0.8em;
  line-height: 2.5em;
}

.table-row-link {
  display: block;
  text-decoration: none !important;
  color: inherit;
}

body, html, .container-fluid { width:100%; height:100%}

.weekly-budget-graph {
  width: 100%;
  height: 40em;
}
